.Purple,
.Button {
  border: none;
  background-color: #8F1FFF;
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  }

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
  background-color: #8F1FFF !important;

}

.Button:hover:active {
  background-color: #8F1FFF !important;
}

.Button:active {
  background-color: #8F1FFF !important;
}

.Button:focus {
  background-color: #8F1FFF;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Purple,
.PurpleOutline:hover,
.PurpleOutline:focus ,
.Bright:hover {
  background-color: #8F1FFF;
  color: #ffffff !important;
}

.PurpleOutline,
.Purple:hover{
  background-color: #ffaef878;
  color: #4110e8;
}

.Bright {
  background-color: #ffaef878;
  color: #4110e8;
}