.Owner {
    font-weight: bold;
    color: #121cff;
    margin-right: 8px;
  }
  
  .Date {
    font-weight: lighter;
    color: #c1c1c5;
  }
  
  .Heart {
    /* color: #8710e8; */
    color: #ff12eb;
  }
  
  
.Heart:hover {
    color: #ff12eb;
    /* color: #8710e8; */
}

.HeartOutline:hover {
  color: #8710e8;

}