.GenreNameContainer {
  min-width: fit-content;
  align-self: center;
}

.Bold {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
}

.Trash {
  color: #b710e8;
}
  
  
.Trash:hover {
  color: #da2bff
}
