.SearchBar input {
    border-radius: 20px;
    color: #4110e8;
    padding-left: 40px;
    margin-bottom: 16px;
  }

  .AddEvent {
    font-size: 5vh;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }

  .InfoIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
  }

  .InfoIcon:hover,
  .SearchIcon:hover {
    cursor: default;
    /* color: #ff12eb; */
  }
  
  a:hover h3,
  a:hover i {
    color: #ff12eb;
  }