.GenreNameContainer {
  min-width: fit-content;
  align-self: center;
}

.Bold {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
}

.Trash {
  color: #f85032;
}
  
  
.Trash:hover {
  color: #f7f709;
}
