.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
 .EventImage {
  max-width: 90%;
  border: 1px solid;
 }
  .Event figure,
  h5 {
    margin: 0 0;
  }
  .Media {
    padding: 1.5vh;
    font-size: 1.5rem;
  }
  
  .Heart {
    color: #f85032;
  }
  
  
.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}
