.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }

  .AddEvent {
    font-size: 5vh;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }

  .InfoIcon:hover,
  .SearchIcon:hover {
    cursor: default;
    color: #da2bff;
  }
  
  .InfoIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
  }