.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
 .EventImage {
  max-width: 90%;
  border: 1px solid;
 }
 
  .Name {
    padding: 1.5vh;
    font-size: 1.2rem;
  }
  
  .CreatedAt {
    padding: 1.5vh;
    font-size: 1rem;
  }

  .Star {
    color: #da2bff;
  }
  
  
.Star:hover {
  color: #8f1fff;
}

.StarOutline:hover {
  color: #da2bff;
}
