.NavBar {
    background-image: linear-gradient(to right, #121eff , #B710E8);
    justify-content: center;
    font-family: 'Poiret One', cursive;
}

.NavbarBrand {
  color: #ffffff;
    justify-content: center;
    display: contents;
    margin: 0px;
    padding: 0px;
}

.NavLink {
  font-weight: 500;
    padding: 2px;
    color: #ffffff;
}

.NavLink:hover {
  padding: 2px;
  color: #ffffff;
}

.NavLink.Active i{
  color:  #ff12eb;
}

.NavLink:hover i{
  color:  #ffaef8;
}

.NavLink i {
    color: #f4f7f7;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  .NavLink i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ffaef8;
  }
  