.NavBar {
    background-image: linear-gradient(to right, #FFE830 , #87E805);
    /* background-color: #ffe830; */
    justify-content: center;
    font-family: 'Poiret One', cursive;
}

.Pink {
    color: #b31968;
}
.NavbarBrand {
    justify-content: center;
    display: contents;
    margin: 0px;
    padding: 0px;
}

.NavLink {
    padding: 2px;
}

.Active i{
  color: #b31968;
}
