.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }

.GenreTitle {
  font-weight: bolder;
  font-size: 3.7vh;
  padding-bottom: 3vh;
}

.FollowersBox {
  padding-left: 5vw;
}

.BoxText {
  font-size: 1.7vw;
}
  
@media screen and (max-width: 990px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }

  .FollowersBox {
    padding-left: 0px;
  }
}