.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }

.GenreTitle {
  font-weight: bold;
  font-size: 3.7vh;
  padding-bottom: 3vh;
}

.Genres {
  overflow: unset;
  height: auto;
  display: contents;
}

.FollowersBox {
  padding-left: 5vw;
}

.BoxText {
  font-size: 1.2rem;
}
  
@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }

  .FollowersBox {
    padding-left: 0px;
  }
}
