.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }

.Genres {
  overflow: unset;
  height: auto;
  display: contents;
}

.FollowersBox {
  padding-left: 5vw;
}

.BoxText {
  font-size: 1.2rem;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button {
  background-color: #8f1fff;
  border: none;
}
.Button:hover:active {
  background-color: #3b12ff !important;
}

.Button:active {
  background-color: #3b12ff !important;
}

.Button:focus {
  background-color: #3b12ff;
  /* background-color: #2142b2; */
}
  
@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }

  .FollowersBox {
    padding-left: 0px;
  }
}
